<template name="postSubmit">
    <form class="main from">
        <div class="form-group">
            <label class="control-label" for="url">URL</label>
            <div class="controls">
                <input class="form-control" id="url" name="url" placeholder="Your URL" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <div class="controls">
                <input class="form-control" id="title" name="title" placeholder="Name your post" type="text" value="">
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
</template>
